.cart {
    margin: 60px auto;
    max-width: 1000px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
  .cart hr {
    height: 1px;
    background-color: #ddd;
    border: none;
  }
  
  .cart-items-header, .cart-item {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr 1fr 0.5fr;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
  }
  
  .cart-items-header {
    font-weight: bold;
    color: #333;
  }
  
  .cart-item {
    margin: 10px 0;
    color: #444;
  }
  
  .cart-item img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 2px solid #ddd; /* Light grey border */
    border-radius: 8px; /* Rounded corners */
    background-color: white; /* White background to blend with any image */
  }
  
  .remove-icon {
    cursor: pointer;
    color: #ff4c4c;
    font-size: 1.2rem;
  }
  
  .cart-summary {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
  }
  
  .summary-detail, .summary-detail.total {
    display: flex;
    justify-content: space-between;
    color: #555;
  }
  
  .summary-detail.total strong {
    color: #000;
  }
  
  .cart-summary button {
    margin-top: 20px;
    border: none;
    color: white;
    background-color: #FF4C24;
    width: 100%;
    padding: 15px 0;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .remove-everything-button {
    background-color: #ff5252;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .remove-everything-button:hover {
    background-color: #ff1a1a;
  }
  
  @media (max-width: 750px) {
    .cart {
      padding: 10px;
    }
  
    .cart-summary, .cart-items-header, .cart-item {
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
  
    .cart-summary button {
      padding: 12px;
    }
  }
  