body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0; /* Adds space around the table */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Adds subtle shadow for depth */
}

th, td {
  padding: 12px 15px; /* Larger padding for better spacing */
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: #ffffff; /* Ensures rows are visibly distinct */
}

th {
  background-color: #f0f0f0; /* Slightly darker background for headers */
  color: #333;
}

.button, .add-ingredient, .reset-button, .add {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 20px;
  margin-right: 10px;
}

.button:hover, .add-ingredient:hover, .reset-button:hover, .add:hover {
  background-color: #1976D2;
}

.button, .add {
  background-color: #2196F3;
  color: white;
}

.add-ingredient {
  background-color: #4CAF50;
  color: white;
}

.reset-button {
  background-color: #FF5722;
  color: white;
}

.nutrients-info, {
  margin-top: 200px;
  border-radius: 5px;
}

.video-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.12);
}

.ingredient-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.ingredient-row input[type="text"], .ingredient-row input[type="number"] {
  flex: 1; /* Allows input fields to take up appropriate space */
  margin-right: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.ingredient-row button {
  padding: 8px 16px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.top-image {
  width: 100%;
  max-width: 600px; /* Larger max-width for better visibility */
  height: auto; /* Maintains aspect ratio */
  border-radius: 8px;
}

.top-image:hover {
  transform: scale(1.05);
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  height: 0;
  overflow: hidden;
}