/* Container and Layout */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Headings */
h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

/* Paragraphs */
p {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.5;
  margin-bottom: 15px;
}

/* Lists (Ordered and Unordered) */
ul, ol {
  padding-left: 20px;
  margin-bottom: 20px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

li {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 10px;
}

/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}

/* Links */
a {
  color: #1e90ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Images */
.main-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.main-image:hover {
  transform: scale(1.05);
}

/* Flex Layout */
.flex-container {
  display: flex;
  /* justify-content: space-between; */
  gap: 20px;
}

/* Miscellaneous */
.text-center {
  text-align: center;
}

.text-gray-700 {
  color: #4a5568;
}

.text-lg {
  font-size: 1.2rem;
}

/* Buttons */
.remove-button, .reset-button {
  padding: 8px 16px;
  font-size: 1rem;
  color: #000000;
  background-color: #e6e6e6;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Pie Chart and Table Layout */
.nutrients-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.pie-chart {
  flex: 1;
}

.nutrients-table {
  flex: 1;
}

/* Image and Text Layout */
.image-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.image-text {
  text-align: center;
}